body{
    background-color: rgb(204, 204, 204);
}

h1{
    text-align: center;
}

ul{
    background-color: white;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
}


li{
    list-style-type: none;
}

.main{
    background-color: white;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

h2{
    text-align: center;
}
.player_one{
    background-color: rgb(255, 255, 255); 
    padding: 10px; 
    border-radius: 10px;
}

.player_two{
    background-color: rgb(255, 255, 255); 
    padding: 10px; 
    border-radius: 10px
}
}